extend ../layouts/layout

block vars
	- var headerClass = 'About Us'
	- var slogan = 'We love the about page'

block slogan
	h1.slogan #{slogan}

block content
	div.container
		main.main-content(class=headerClass)
