extend ../layouts/layout

block vars
	- var headerClass = 'homepage'
	- var slogan = 'Time to start getting more produktivv'

block slogan
	div.home-page-container
		h1.slogan #{slogan}
		img(src="assets/img/apple-products.png").tech-gear
block content
	//- div.container
	//- 	main.main-content(class=headerClass)
			
