node_modules
dev.js
fb_client_id.txt
fb_secret_id.txt
google_client_id.txt
google_client_secret.txt
mongo_uri.txt
/secrets
docker-compose-old.yml
docker-compose.dev.yml
docker-compose.prod.backup.yml
docker-compose.prod-old.yml
/traefik/certs

