div.grid-y.grid-frame
	div.cell.shrink.header.cell-block-container
		h1 Header ds
		.grid-x
			.cell.shrink
				img(src="http://placehold.it/150x50")
			.cell.auto.cell-block
				ul.menu(style={'width': '300vw'})
				
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
					li: a(href="#") foo
			.cell.shrink
				input(type="text", placeholder="search")
	div.cell.auto.body.cell-block-container
		.grid-x
			.cell.medium-4.cell-block-y
				p Lorem ipsum text  Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text
				p Lorem ipsum text  Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text
				p Lorem ipsum text  Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text
				p Lorem ipsum text  Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text
				p Lorem ipsum text  Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text
				p Lorem ipsum text  Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text
				img(src="http://placehold.it/600x600")
				img(src="http://placehold.it/600")
			.cell.auto.cell-block-y
				p Lorem ipsum text  Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text Lorem ipsum text
				img(src="http://placehold.it/600")
				
