div.header-content
	div.top-section
		div.logo
			h3.logo-img { No Logo }
		div.menus
			div.title-bar(data-responsive-toggle="main-nav")
				button.menu-icon(data-toggle="main-nav") 
				div.title-bar-title Menu
			nav.main-navigation#main-nav(data-animate="menu-in menu-out")
				li
					a(href="index") Home
				li
					a(href="about") How it Works
				li
					a(href="process") Process
				li
					a(href="menu") Menu
				li
					a(href="gallery") Login
				li
					a(href="contact") Sign Up
