html(lang="en")
	head
		link(rel='stylesheet', type='text/html', href='css/bootstrap.min.css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
		script(src='/reload/reload.js')
	body
		block title
			title Steven
		block content
			p This is a total test.ssss
