$lato: 'Lato', sans-serif;
$bellefair: 'Bellefair', serif;
$fredoka: 'Fredoka One', cursive;
$test: 'Test';

// @mixin background_image($page) {
// 	background-image: url(../img/featured/small/#{$page}.jpg);
// 	@include breakpoint(medium) {
// 		background-image: url(../img/featured/medium/#{$page}.jpg);
// 	}
// 	@include breakpoint(large) {
// 		background-image: url(../img/featured/large/#{$page}.jpg);
// 	}
// }

li {
	list-style-type: none;
}
button {
	cursor: pointer;
}
button:focus {
	outline: 0;
}
@mixin faded_black() {
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.9) 20%,
		rgba(0, 0, 0, 0.4)
	);
}

// 1. HomePages
// --------------

.site-header {
	background-size: cover;
	position: relative;
	background: darken($dark-gray, 40%);
	background-position: center;
	.header-content {
		font-family: $lato;
		.top-section {
			@include xy-grid();
			position: absolute;
			width: 100%;
			@include flex-align(center, middle);
			z-index: 10;
		}
		.logo {
			@include xy-cell(6);
			@include flex-align(left);
			text-align: left;
			color: #fff;
		}
		.menus {
			@include xy-cell(6);
			z-index: 2;
			.main-navigation {
				@include menu-base();
				@include flex();
				@include flex-align(right);
				li a {
					color: #fefefe;
				}
			}
		}
	}
	&:after {
		// @include faded_black();
		@include position(absolute, 0, 0, 0, 0);
		content: '';
		@include box(100%, 100%);
	}
}
.bottom-section {
	width: 100%;
	height: 70vh;
	position: relative;
	.home-page-container {
		@include xy-grid-container();
		@include padding(1) @include xy-grid();
		height: 70vh;
		z-index: 2;
		.slogan {
			@include xy-cell();
			@include xy-grid();
			.intro-title {
				@include xy-cell();
				@include flex;
				@include flex-align(center, bottom);
				margin-bottom: rem-calc(0);
				padding: 0;
				z-index: 2;
				h3 {
					color: $primary-color;
					@include font-bold(900);
					font-family: $fredoka;
					font-size: rem-calc(112);
					width: 100%;
					padding: rem-calc(50%);
					padding-bottom: 0;
					text-align: center;
					line-height: rem-calc(112);
					// text-shadow: 0 0 40px hsla(0,0%,100%,.75);
					text-shadow: 0 0 40px hsla(0, 0%, 100%, 0.85);
				}
			}
			.intro-subtitle {
				@include xy-cell();
				p {
					color: $primary-color;
					font-size: rem-calc(18);
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}
}

.hold-me {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}
.main-content {
	@include xy-grid-container();
	.no-worry {
		@include xy-grid();
		.helpful {
			@include xy-cell(6);
		}
		.computer {
			@include xy-cell(6);
		}
	}
}

// 2a. Login / Register Pages.
// --------------

.login-form-bg {
	background: $cool-gray;
	position: relative;
	height: 100vh;

	.login-form {
		@include xy-grid-container();
		padding-top: 40px;
		width: 600px;

		.login-form-inner {
			background: #fefefe;
			border-radius: 10px;
			padding: 20px;
			position: relative;
			width: 100%;
			margin: 0;
		}
		.callout {
			@include xy-cell();
			@include flex;
			@include flex-align(center);
		}
		.outer-form {
			margin-top: 15px;
			padding: 0 2px;
			.register-here {
				float: right;
			}
		}
	}
	.form-sign-wrapper {
		@include xy-cell();
		@include flex;
		@include flex-align(center);
	}
	.form-signin {
		width: 100%;
		padding-bottom: 10px;
		h5 {
			text-align: center;
			font-size: rem-calc(30);
		}
		label {
			color: $cool-gray;
			font-size: rem-calc(20);
		}
		.submit-button {
			width: 100%;
			background: $secondary-color;
			text-align: center;
			padding: 15px 0;
			border-radius: 2px;
			cursor: pointer;
			margin-bottom: 5px;
			margin-top: 5px;
		}
		.register {
			width: 100%;
			background-color: $fourth-color;
			border-radius: 2px;
			margin-top: 15px;
			margin-bottom: 5px;
			.inner {
				width: 100%;
				padding: 10px;
				text-align: center;
			}
		}
	}
	.facebookLogin {
		width: 100%;
		padding: 10px 0;
		background-color: $third-color;
		border-radius: 2px;
		text-align: center;
	}
}

// 3. Main App Layouts
// --------------

.container {
	display: flex;
}
.sidebar {
	width: 125px;
	min-width: 125px;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: $fourth-color;
	transition: all 0.2s cubic-bezier(0.945, 0.02, 0.27, 0.665);
	transform-origin: bottom left;
	.left-nav {
		@include flex-align(start);
		text-align: center;
		margin: 0;
		li {
			padding: 10px 0;
			display: flex;
			@include flex-align(center, middle);
			border-top: 1px solid darken($fourth-color, 10%);
		}
	}
	@include breakpoint(small only) {
		margin-left: -200px;
		transform: rotateY(100deg);
	}
	.sidebar-x {
		@include flex;
		@include flex-align(center);
		font-family: "Fredoka One";
		font-size: 22px;
		margin-top: 5px;
	}
	.sidebar-profile-image{
		display: flex;
		@include flex-align(center);
		margin-bottom: 10px;
		img {
			width: 50px;
			height: 50px;
		}
	}
	.sidebar-header{
		margin-top:auto;
	}
	.sidebar-profile-links{
		border-top: 1px solid darken($fourth-color, 10%);
		padding: 10px 0;
		text-align: center;
	}
}
.content-x {
	@include flex;
	flex: 1;
	background: $primary-color;
	padding: 10px;
}
.grid-x {
	flex-flow: nowrap;
}

// 4. Daily Journal
// --------------

.journal-content {
	flex: 1;
}
.tasks {
	width: 100%;
}
.journal-content .form-control {
	width: 100%;
	height: 45px;
	font-size: 25px;
	padding-left: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}
.journal-content .form-control::placeholder {
	color: #e0e0e0;
}
.journal-content .form-control:focus {
	outline-offset: -5px;
	outline-color: #ddd;
}
.jorunal-content .input-box {
	width: 100%;
}

.tasks-notes {
	@include xy-grid();
	flex-wrap: nowrap;
}
.must-complete {
	display: flex;
	flex: 1 0 auto;
	list-style-type: none;
	.dailyTaskList {
		width: 100%;
		margin-right: 10px;
	}
	.card {
		border: none;
		overflow: visible;
	}
	.card-header {
		text-align: center;
		@include font-bold();
		padding: 12px;
		background: $light-gray;
		border-radius: 5px;
	}
	.daily-task-list {
		margin: 0;
		.list-group-item {
			list-style-type: none;
			background: darken(#fefefe, 1%);
			margin: rem-calc(10 0);
			border-radius: 2px;
			border: 1px solid #fff;
			@include mui-fade(in, 0.3, 1);
			@include shadow();
			&.active {
				border: 1px solid darken(#e0e0e0, 10%);
				border-radius: 4px;
			}
			textarea {
				border: none;
				resize: none;
			}
			.click-wrapper {
				li {
					list-style-type: none;
				}
			}
			.drag-div {
				width: 30px;
				.drag_handle {
					@include flex;
					@include flex-align(center, middle);
				}
			}
			.dtWrapper {
				@include xy-grid();

				.textWrapper {
					flex-grow: 1;
					@include flex-align(center, bottom);
					textarea {
						margin: rem-calc(10 0);
						padding: rem-calc(10 10);
						font-size: rem-calc(20);
					}
				}
				.checkWrapper {
					width: 62px;
					@include flex;
					@include flex-align(center, middle);
				}
				.round {
					margin-left: 20px;
					z-index: 2;
					@include xy-cell();
					@include flex;
					@include flex-align(center, bottom);
				}
				.round .completed {
					background-image: url('check.png');
					background-repeat: no-repeat;
					background-size: 34px;
					background-position: 6px 2px;
					border: none;
				}
			}
			.inputGroup {
				@include flex;
				@include flex-align(center, middle);
				height: 40px;
				width: 40px;
				background: #fff;
				border: 3px solid #eeeeee;
				border-radius: 25px;
				cursor: pointer;
				&:hover {
					background-color: #ddd;
					border: 1px solid #e0e0e0;
				}
			}
		}
	}
}

.dailyText {
	display: flex;
	flex-direction: column;
	flex: 1 0 50%;
	min-height: 30vh;
	height: auto;
	margin: rem-calc(0 0 10 0);
	flex-wrap: wrap;
	@include shadow();

	.dailyTextHeader {
		border-radius: 5px 5px 0 0;
		text-align: center;
		padding: 10px;
		@include font-bold();
		background: #e0e0e0;
		.close {
			float: right;
			cursor: pointer;
			position: relative;
			top: -1px;
			font-size: rem-calc(25);
			color: #000;
			line-height: rem-calc(21);
		}
	}
	.textArea {
		display: flex;
		flex: 1 1 auto;
	}
	textarea {
		font-size: rem-calc(18);
		padding: rem-calc(5 10 0 10);
		margin-bottom: 10px;
		min-height: 100%;
		resize: none !important;
	}
	.commit-area {
		display: flex;
		@include flex-align(center, middle);
		direction: row;
		flex: 0 0 30px;
		margin-bottom: 10px;
		justify-content: space-between;

		.autoSave {
			text-align: center;
			color: lighten(#000, 40%);
			margin-right: auto;
			margin-left: 20px;
		}
		.commit {
			@include xy-cell(4);
			padding: rem-calc(10 0);
			text-align: center;
			color: #fff;
			margin-left: auto;
			border-radius: 3px;
			background: darken($third-color, 10%);
			cursor: pointer;
		}
	}
}

.taskSettings {
	display: flex;
	flex-direction: column;
	flex: 1 0 250px;
	height: auto;
	margin: rem-calc(0 0 10 0);
	flex-wrap: wrap;
	border-radius: 5px 5px 0 0;
	@include shadow();
	.taskHeader {
		border-radius: 5px 5px 0 0;
		text-align: center;
		padding: 5px;
		background: $light-gray;
		font-size: rem-calc(14);
		.close {
			float: right;
			cursor: pointer;
			position: relative;
			top: -1px;
			font-size: rem-calc(25);
			color: #000;
			line-height: rem-calc(15);
		}
	}
	.settingsArea {
		display: flex;
		flex: 1;
	}
}

.notes-card {
	@include xy-cell(4);
	.card-header {
		padding: 10px 0 0 10px;
		background: $light-gray;
	}
	.nav-tabs {
		border-radius: 5px 5px 0 0;
		padding: 10px;
		@include menu-base();
		.nav-item {
			.nav-link {
				background-color: $secondary-color;
				border-radius: 4px 4px 0 0;
				margin-right: 10px;
			}
			.active {
				background: darken($secondary-color, 10%);
				@include shadow();
			}
		}
	}
	.d-none {
		display: none;
	}
}
.drag_handle {
	position: relative;
	top: 30px;
	float: left;
	display: block;
	width: 18px;
	height: 11px;
	opacity: 0.25;
	margin: 0 5px 0 5px;
	background: linear-gradient(
		180deg,
		#000,
		#000 20%,
		#fff 0,
		#fff 40%,
		#000 0,
		#000 60%,
		#fff 0,
		#fff 80%,
		#000 0,
		#000
	);
}

.daily-buttons {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	align-items: flex-end;
	> div {
		width: 70px;
	}
	span {
		text-align: center;
		font-size: rem-calc(14);
	}
	.journal-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		.journal-image {
			background: url('../img/journal.png') no-repeat;
			background-size: 51px 51px;
			background-position: -2px -2px;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			border: 1px solid $dark-gray;
			@include shadow();
			cursor: pointer;
		}
	}
	.settings-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		.settings-image {
			background: url('../img/settings.png');
			background-size: 51px 51px;
			background-position: -2px -2px;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			margin: rem-calc(15 0 0 0);
			@include shadow();
			border: 1px solid $dark-gray;
			cursor: pointer;
		}
	}
}

// 4a. Sortable Handle Helper Class
// --------------

.SortableHelper {
	.textWrapper {
		textarea {
			resize: none;
		}
	}
	.dtWrapper {
		@include xy-grid();
		.textWrapper {
			flex-grow: 1;
			@include flex-align(center, bottom);
			textarea {
				margin: rem-calc(10 0);
				padding: rem-calc(10 10);
				font-size: rem-calc(20);
			}
		}
		.checkWrapper {
			width: 62px;
			@include flex;
			@include flex-align(center, middle);
		}
		.round {
			margin-left: 20px;
			@include xy-cell();
			@include flex;
			@include flex-align(center, bottom);
		}
		.round .completed {
			background-image: url('check.png');
			background-repeat: no-repeat;
			background-size: 34px;
			background-position: 6px 2px;
			border: none;
		}
	}
	.inputGroup {
		@include flex;
		@include flex-align(center, middle);
		height: 40px;
		width: 40px;
		background: #fff;
		border: 3px solid #eeeeee;
		border-radius: 25px;
		cursor: pointer;
		&:hover {
			background-color: #ddd;
			border: 1px solid #e0e0e0;
		}
	}
}

// 5. Calendar
// --------------
.grid-x {
	.calendar {
		padding: 0;
	}
}
.rbc-calendar {
	flex: 1;
	.rbc-month-view {
		border-top: none;
		.rbc-month-header {
			.rbc-header {
				border-bottom: 2px solid $secondary-color;
				padding: 5px 5px 5px 5px;
				span {
					border-radius: 5px 5px 0 0;
				}
			}
			.rbc-header + .rbc-header {
				border-left: none;
			}
		}
	}
	.rbc-toolbar {
		flex-wrap: wrap;
		padding: 10px 10px 0 10px;
		&.button {
			border: none;
		}
		.todayButton {
			border-top: none;
			border-right: none;
			border-left: none;
			border-radius: 0;
			border-bottom: 3px solid $secondary-color;
			margin-right: 10px;
		}
		.rbc-btn-group {
			.fa {
				padding: 8px;
				border-radius: 50%;
				border: none;
				color: $fourth-color;
				margin-right: 5px;
				&:hover {
					border: none;
				}
			}
			button {
				border: none;
				border-radius: 0px;
				box-shadow: none;
				border-bottom: 3px solid $white;
				margin: 0;
				&:hover {
					background-color: rgb(230, 230, 230);
					border-bottom: 3px solid $fourth-color;
					box-shadow: none;
				}
				&.rbc-active {
					background-color: rgb(230, 230, 230);
					border-bottom: 3px solid $secondary-color;
				}
			}
		}
		.rbc-toolbar-label {
			text-align: left;
			font-size: 22px;
			color: darken($fourth-color, 40%);
		}
	}
	.rbc-show-more {
		color: #000;
		padding: 3px;
		background-color: rgba(0, 0, 0, 0.1);
		z-index: 4;
		font-weight: bold;
		font-size: 75%;
		height: auto;
		line-height: normal;
		white-space: nowrap;
		margin: 1px 2px;
	}
	.rbc-row {
		.rbc-row-segment {
			height: rem-calc(19);
		}
	}
	.rbc-row .rbc-event {
		width: 100%;
		position: absolute;
		height: 19px;
	}
	.rbc-row-bg {
		overflow: visible;
	}
	.rbc-month-row {
		flex: 1 1 0%;
		.rbc-today {
			border: 1px solid $fourth-color;
			border-radius: 1px;
			background: none;
			box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
		}
		overflow: visible;
	}
	.rbc-row-segment {
		padding: 0;
	}
	.rbc-date-cell {
		text-align: left;
		padding-left: 5px;
	}
}
.rbc-row .rbc-event {
	padding: 0 2px;
	// background-color: lighten($secondary-color, 55%);
	// border-radius: 0px;
	// border-top: 1px solid rgba(0, 0, 0, 0.1);
	// border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	// border-right: 1px solid #DDD;
	// border-left: 1px solid #DDD;
	border-radius: 0;
	background: none;
	color: #000;
	cursor: pointer;
	font-size: 12px;
	transition: width 1s;

	.hide-x {
		padding: 0 3px;
		display: flex;
		align-items: center;
		& > div:first-child {
			float: left;
			margin-right: 3px;
		}
		.message {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.completedTick {
			min-width: 8px;
			height: 8px;
			background: url('../check.png') no-repeat;
			background-size: 8px 8px;
		}
		.taskSimpleS {
			min-width: 8px;
			height: 8px;
			border-radius: 50%;
			border: 1px solid $dark-gray;
		}
		.inProgress {
			min-width: 12px;
			height: 12px;
			background: url('../img/inprogress.png') no-repeat;
			background-size: 12px 12px;
		}
		.taskRepeat {
			background: url('../img/repeat.png') no-repeat;
			background-size: 13px 13px;
			min-width: 13px;
			height: 13px;
		}
		.taskRedue {
			height: 12px;
			min-width: 12px;
			background: url('../img/redue.png') no-repeat;
			background-size: 12px 12px;
		}
	}
	.simplelong {
		background: rgba($secondary-color, 0.1);
	}
	.inprogress_bar {
		background-color: rgba($warning-color, 0.15) !important;
	}
	.completed {
		background: rgba($third-color, 0.3);
		color: #000;
	}
	&.rbc-selected {
		transition: 0.2s box-shadow linear;
		background: none;
		z-index: 2;
	}
}
.rbc-row .rbc-event:hover {
	width: 100%;
}
.rbc-event-content {
	width: 100%;
	z-index: 20;
}
.rbc-row-segment {
	position: relative;
}
.rbc-month-row,
.rbc-selected > .rbc-event-content {
	overflow: visible !important;
	@include breakpoint(small only) {
		overflow: hidden !important;
	}
	.hide-x {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.rbc-row-segment {
	position: relative;
}
.fade {
	opacity: 0;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}
.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 400px;
	padding: 1px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 14px;
	background-color: #ffffff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	min-width: 350px;
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	// margin: 0;
	// padding: 4px 10px;
	// font-size: rem-calc(20);
	// font-weight: bold;
	// background-color: #f7f7f7;
	// border-bottom: 1px solid #ebebeb;
	// border-radius: 5px 5px 0 0;
	// color: #000;
	// min-height: 50px;
	font-size: 20px;
	line-height: 26px;
	max-height: 52px;
	margin-top: auto;
	padding: 0 32px 0 64px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.popover {
	padding: 0;
}
.popover-content {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.17),
		0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
	.header {
		min-height: 95px;
		max-height: 150px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		background: $secondary-color;
		.row-icons {
			padding: 5px 5px 10px 0;
			min-height: 30px;
			.icons {
				display: flex;
				@include flex-align(flex-end, middle);
				i {
					cursor: pointer;
					font-size: 20px;
					color: #ffffff;
					display: flex;
					padding: 5px 10px 0px 5px;
					&:hover {
						color: darken(#ffffff, 20%);
					}
				}
				.fa-times {
					margin-top: 2px;
				}
			}
		}
		.title {
			font-size: 20px;
			line-height: 26px;
			max-height: 125px;
			margin-top: auto;
			color: #ffffff;
			padding: 0 32px 20px 32px;
			overflow-wrap: break-word;
			word-wrap: break-word;
			overflow: hidden;
		}
	}
	.taskContent {
		padding: 15px;
		flex: 1 1 auto;
		position: relative;
		.edit {
			height: 40px;
			width: 40px;
			background: $third-color;
			border-radius: 50%;
			display: flex;
			cursor: pointer;
			@include flex-align(center, middle);
			margin-left: -15px;
			position: absolute;
			right: -20px;
			top: -20px;
		}
	}
	.complete {
		display: flex;
		padding: 10px 15px 10px 15px;
		text-align: center;
		border-top: 1px solid #e0e0e0;
		.buttonComplete {
			flex: 1;
			text-align: left;
			justify-content: space-between;
			display: flex;
			@include flex-align(start, middle);
			.clickComplete {
				background-color: $third-color;
				padding: 8px 20px;
				border-radius: 2px;
				color: #ffffff;
				font-weight: bold;
				cursor: pointer;
				i{
					padding-left:20px;
				}
			}
		}
		.clickPostpone {
			background-color: lighten($orange, 15%);
			padding: 8px 20px;
			border-radius: 2px;
			color: #ffffff;
			font-weight: bold;
			display: flex;
			cursor: pointer;
			i{
				padding-left:15px;
				font-size: 20px;
				position: relative;
				top:1px;
			}
		}
	}
}
.popover > .arrow,
.popover > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.popover > .arrow {
	border-width: 11px;
}
.popover > .arrow:after {
	border-width: 10px;
	content: '';
}
.popover.top > .arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: #999999;
	border-top-color: rgba(0, 0, 0, 0.25);
	bottom: -11px;
}
.popover.top > .arrow:after {
	content: ' ';
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #ffffff;
}
.popover.right > .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: #999999;
	border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
	content: ' ';
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #ffffff;
}
.popover.bottom > .arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	top: -11px;
}
.popover.bottom > .arrow:after {
	content: ' ';
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #ffffff;
}
.popover.left > .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999999;
	border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
	content: ' ';
	right: 1px;
	border-right-width: 0;
	border-left-color: #ffffff;
	bottom: -10px;
}
.quickFunctions {
	@include menu-base();
	display: flex;
	@include flex-align(center, middle);
	.dateStart {
		text-align: center;
		padding: 4px 10px;
		&.delete {
		}
		button {
			background: $secondary-color;
			padding: 8px 5px;
			color: #fff;
			border-radius: 2px;
			@include shadow();
			&:active {
				box-shadow: none;
			}
		}
	}
}
/* ---------------------------------------------------
    CALENDAR
----------------------------------------------------- */
.flexFix {
	flex: 1;
}
.dailyCalendarContainer {
	padding: 10px;
	.calendar {
		padding: 20px;
	}
	.card {
		border: none;
		overflow: visible;
	}
}
.rbc-calendar {
	.journal-content {
		padding: 10px;
	}
}
.sortHead {
	display: flex;
	@include flex-align(left, middle);
	flex: 1 1 auto;
	margin-left: rem-calc(10);
	.btn {
		background: $secondary-color;
		margin-left: 10px;
		padding: 8px 19px;
		color: $white;
		@include shadow();
		cursor: pointer;
		&:active {
			box-shadow: none;
		}
	}
}
.newTask {
	// background: $light-gray;
	border: 1px solid $light-gray;
	border-radius: 50%;
	font-size: rem-calc(25) !important;
	line-height: rem-calc(33);
	font-weight: bold;
	width: 43px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	&:hover {
		background: $light-gray;
	}
}
.task-box {
	@include xy-cell(8);
	font-size: 25px;
	margin-left: 15px;
}
.task-box-below {
	padding: 20px 0px 15px 0px;
}
.task-box textarea {
	font-size: 20px;
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 4px solid $secondary-color;
	min-height: 40px;
	margin: 0;
	padding: 5px 10px 5px 5px;
}
.task-box textarea:focus {
	background-color: $light-gray;
}
.radio-button {
	width: 22px;
	height: 22px;
	border: 2px solid #aaa;
	border-radius: 50%;
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	top: 6px;
	margin-right: 15px;
	cursor: pointer;
}
.radio-inside {
	width: 11px;
	height: 11px;

	border-radius: 50%;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	margin-right: 15px;
	border: 5px solid #2196f3;
	-webkit-transition: -webkit-transform ease 0.28s;
	transition: -webkit-transform ease 0.28s;
	-webkit-transition: transform ease 0.28s;
	transition: transform ease 0.28s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0);
	transform: translateX(-50%) translateY(-50%) scale(0);
	transform: translateX(-50%) translateY(-50%) scale(1);
}
.radio-button:hover {
	-webkit-animation: quantumWizPaperAnimateSelectIn 0.2s 0.1s forwards;
	animation: quantumWizPaperAnimateSelectIn 0.2s 0.1s forwards;
}

/* ---------------------------------------------------
    QUICK TASK
----------------------------------------------------- */
.dailyCalendarContainer {
	display: flex;
	flex: 1 1 auto;
	.task-box-below {
		@include xy-grid();
	}
	.row {
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		.col-4 {
			@include xy-cell(4);
			flex-wrap: nowrap;
		}
	}
	.bottomButtons {
		display: flex;
		justify-content: space-between;
	}
	.d-none {
		display: none;
	}
}

// Tracks / Hats and Journal AutoSuggest Section

.react-autosuggest__container {
	position: relative;
	.react-autosuggest__input {
		height: 40px;
		padding: 5px 5px;
		font-weight: 400;
		font-size: 18px;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: 4px solid $secondary-color;
		box-shadow: none;
		outline-color: none;
		&:focus {
			background-color: $light-gray;
		}
	}
}
.react-autosuggest__input--open {
	background: $light-gray;
}

.react-autosuggest__suggestions-container--open {
	position: absolute;
	width: 98%;
	top: 40px;
	margin-left: 1%;
	background-color: lighten($light-gray, 7%);
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #e0e0e0;
	border-top: none;
	z-index: 2;
	.react-autosuggest__suggestions-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 5px 10px;
}
.react-autosuggest__suggestion--highlighted {
	background-color: #ddd;
}
.tasksHead {
	font-size: 15px;
	font-weight: bold;
}

// Task Details Section

.task-details {
	text-align: left;
	.task-details-header {
		background: $light-gray;
		padding: 10px 10px;
		text-align: left;
		font-weight: bold;
	}
	.notes-heading textarea {
		width: 100%;
		resize: none;
	}
	.startTimes {
		display: flex;
		flex: 1 0 auto;
		margin-top: 10px;
		@include flex-align(left, middle);
		span {
			color: $fourth-color;
			font-weight: 400;
			font-size: rem-calc(18);
		}
		.DayPickerInput {
			margin-left: 10px;
			margin-right: 5px;
			display: flex;
			flex: 0 1 115px;
		}
		.timePicker {
			margin-left: 5px;
			display: flex;
			flex: 0 1 115px;
			& span {
				margin-right: 2px;
			}
			& input {
				margin-right: 2px;
				text-align: center;
			}
		}
		.editTimes {
			display: flex;
			flex: 1;
			height: 35px;
			@include flex-align(left, middle);
			.dateInput {
				margin-right: 5px;
			}
			& .title {
				min-width: 45px;
			}
		}
		.durationTimes {
			display: flex;
			& .duration {
				max-width: 55px;
				text-align: center;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		& input {
			flex: 1;
			display: block;
			margin: 0;
			width: 100%;
			text-align: left;
			color: $black;
			padding: 10px 5px;
			height: 30px;
			font-weight: 400;
			font-size: rem-calc(20);
			border-right: none;
			border-left: none;
			border-top: none;
			border-bottom: 3px solid $secondary-color;
			box-shadow: none;
			border-radius: 0 0 0 0;
			background: lighten($light-gray, 5%);
			&::placeholder {
				color: $dark-gray;
			}
		}
	}
}
.rc-time-picker-panel {
	width: 166px;
	background: $white;
	.rc-time-picker-panel-input {
		font-size: rem-calc(20);
	}
	.rc-time-picker-panel-input-wrap {
		padding: 0 4px;
	}
	& .rc-time-picker-panel .rc-time-picker-panel-input-wrap {
		padding: 0 10px;
	}
	.rc-time-picker-panel-inner {
		border: none;
	}
}

.repeatChoose {
	@include menu-base;
	@include flex;
	@include flex-align(left, middle);
	height: 40px;
	.dropdown {
		display: flex;
		flex: 1 0 80px;
		height: 100%;
		@include flex-align(center, middle);
	}
	.dropdown-toggle {
		background: $light-gray;
		border: 1px solid $dark-gray;
		cursor: pointer;
		border-radius: 2px 2px 2px 2px;
		height: 100%;
		width: 150px;
		@include flex-align(center, middle);
		text-align: center;
	}
	.dropdown-menu {
		opacity: 0;
		height: 0;
		visibility: hidden;
		margin-left: 3px;
		text-align: center;
		width: 144px;
		background: $light-gray;
		border-right: 1px solid darken($light-gray, 15%);
		border-left: 1px solid darken($light-gray, 15%);
		transition: opacity 0.1s ease-out;

		&.d-block {
			display: flex;
			flex: 1 0 auto;
			visibility: visible;
			flex-direction: column;
			height: auto;
			opacity: 1;
			transition: opacity 0.2s ease;
			z-index: 2;
			position: relative;
		}
		.dropdown-item {
			padding: 5px 0;
			border-bottom: 1px solid darken($light-gray, 15%);
			cursor: pointer;
			&:hover {
				background-color: darken($light-gray, 30%);
			}
		}
	}
}
.btn-group {
	display: flex;
}
.btn-group > div {
	display: flex;
	@include flex-align(left, middle);
	flex: 0 1 auto;
	flex-direction: row;
	background: lighten($light-gray, 7%);
	height: 40px;
	border-radius: 5px;
	button {
		width: 30px;
		height: 30px;
		border: 1px solid darken($light-gray, 10%);
		background: $light-gray;
		border-radius: 50%;
		margin-left: 7px;
		&.clicked {
			background: $secondary-color;
			border: 1px solid darken($light-gray, 50%);
			color: $white;
		}
	}
	button:last-child {
		margin-right: 7px;
	}
}

// Ends section on the daily task calendar.

// Repeat Section
.endsWrap {
	.choiceSelect {
		font-size: rem-calc(16);
		font-weight: bold;
	}
	.radio-button {
		font-size: 0px;
	}
}
.datePicker {
	display: flex;
	flex-direction: row;
	@include flex-align(left, middle);
	z-index: 0;
	& input {
		font-size: rem-calc(20);
	}
}
.afterCompletes {
	display: flex;
	flex-direction: row;
	@include flex-align(left, middle);
	font-size: rem-calc(16);
	font-weight: bold;
	& input {
		font-size: rem-calc(20);
	}
}

.dropdown-month {
	background: #eee;
	padding: 8px;
	margin-top: 13px;
	border-radius: 2px;
	border: 1px solid #ddd;
	cursor: pointer;
	&:hover {
		border: 1px solid darken(#ddd, 30%);
	}
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

	left: 12px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.sliders {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.sliders:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.checked {
	background-color: #2196f3;
}

input:focus + .sliders {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .sliders:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.sliders.round {
	border-radius: 34px;
}

.sliders.round:before {
	border-radius: 50%;
}
.switchHeaders {
	.DayPickerInput-OverlayWrapper {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 275px;
	}
	.DayPicker-NavBar span:first-child {
		position: absolute;
		top: 16px;
	}
	.DayPickerInput {
		display: inline-block;
		margin-left: 7px;
		position: relative;
	}
	.DayPickerInput input {
		width: 120px;
		padding: 7px;
		text-align: right;
		border: 2px solid #eee;
	}
	.DayPickerInput input:focus {
		outline-color: #ddd;
	}
	.DayPickerInput-Overlay {
		bottom: 0;
		left: 0;
		height: 315px;
	}
}
.DayPickerInput-Overlay {
	.DayPicker-Day {
		padding: rem-calc(7 10);
	}
}

.task-box-below .row {
	margin-top: 10px;
}
.task-box-below .row:first-child {
	margin-top: 0px;
}

.switchHeaders span:first-child {
	vertical-align: top;
	position: relative;
	top: 4px;
}
.dayShort {
	list-style: none;
	float: left;
	padding-left: 10px;
}
.repeatEvery {
	width: 50px;
	text-align: right;
	margin-left: 5px;
	border: 2px solid #eee;
	border-radius: 2px;
	padding: 3px 5px 3px 5px;
	height: 40px;
	position: relative;
	top: 0px;
}
.endsWrap {
	& > div {
		margin-top:10px;
	}
}
.catchUp{
	background: url('../img/rightarrowdown.png') no-repeat;
	background-size: 20px 20px;
	background-position: 8px 5px;
	padding-left: 40px;
	font-size: 14px;
	clear:both;
	margin-bottom: 5px;
	margin-top:5px !important;
	.menu{
		display: flex;
		cursor: pointer;
		@include flex-align(left, middle);
	}
	.small-radio-button{
		cursor: pointer;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 1px solid $dark-gray;
		margin-right: 5px;
		display: flex;
		@include flex-align(center, middle);
		.small-radio-inside {
			width:6px;
			height:6px;
			border-radius: 50%;
			&.selected{
				background: $secondary-color;
			}
		}
	}
}
.addMarginTop {
	margin-top: 10px;
}
.btn-group {
	margin-top: 10px;
}
.switchHeaders .show {
	display: inline-block;
	margin-left: 10px;
}
.repeatCompletes {
	display: inline-block;
	margin-left: 10px;
}
