/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  margin: 0;
  padding: 0;
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;

		overflow:hidden;
		flex: 1;
}
#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.card{
	margin:15px 2.5% 15px 2.5%;
}
.cake-list li {
	background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.cake-list li span{
	margin-left: 15px;
	vertical-align: top;
	position: relative;
	top: 10px;
}
#sidebar {
    min-width: 220px;
    max-width: 220px;
	
  	background: #38383a;
		margin-bottom: -5000px;
 		padding-bottom: 5000px;
		overflow: hidden;
    color: #fff;
		float:left;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
		flex: 0 0 12em;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {

		border-bottom: 2px solid #5f5f62;

		min-height: 100px;
}
.logo {
		margin-top: 10px;
		background: url('./logo.png') no-repeat;
		min-height: 75px;
		width: 100%;
}
.sidebar-profile-links{
	font-size: 14px;
	text-align: center;
	padding: 10px 0;
}
.profile-photo{
	margin: 0 auto;
	display: block;
	width: 100px;
}
.sidebar-profile-links span{
	padding: 0px 25px 0 5px;
}
#sidebar ul.components {
    padding: 0px 0;
		margin-top: 0;
    border-bottom: 2px solid #5f5f62;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
	color: #325886;
	background: #ddd;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

.content{
	padding: 20px;
}
a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;

    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#sidebar .well{
	padding: 0 0px;

	background: inherit;
	border:none;
	border-radius: none;
	margin-bottom: 0px;

}
#sidebar .well li a {
	padding:10px 15px;
	font-size: 1em;
}


/* ---------------------------------------------------
    FORMS / ENTRIES / JOURNAL
----------------------------------------------------- */
.tasks{
	width: 100%;
}

.journal-content{
	padding: 20px 30px 20px 20px;
}
.journal-content .form-control{
	width: 100%;
	height: 45px;
	font-size: 25px;
	padding-left: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}
.journal-content .form-control::placeholder{
	color:#e0e0e0;
}
.journal-content .form-control:focus{
	outline-offset: -5px;
	outline-color: #ddd;
}
.jorunal-content .input-box{
	width: 100%;
}
.journal	.input-box{

}
.journal-content .must-complete{
	text-align: center;
	padding: 0 2% 0 0;
}
.tasks-notes{
	margin-top: 20px;
}
.notes-box{
	width:100%;
	border:none;
	border-radius: 3px;
	min-height: 50vh;
	padding: 10px;
}
.notes-box:focus{
	outline-color: #ddd;
	outline-width: 1px;
}
.journal-content .card{
	margin: 0;
}
.notes-card{
	padding: 0;
}
.card-header {
	font-weight: 500;
}
.list-group{
	text-align: left;
}
.journal-content .list-group-item{
	cursor: pointer;
	display: flex;
	align-items: center;
}
.inputGroup{
	height: 40px;
	width: 40px;
	background: #fff;
	border: 3px solid #eeeeee;
	border-radius: 25px;
}
.inputGroup:hover {
background-color: #ddd;
border: 1px solid #e0e0e0;
}
.round .completed {
	background-image: url('check.png');
	background-repeat: no-repeat;
	background-size: 34px;
	background-position: 6px 2px;
	border: none;
}

.float-right{
position: relative;
right: 0;
}
.list-group-item .click-wrapper{
	width: 100%;
}
.list-group-flush .list-group-item{
	margin-bottom: 0;
}
.list-group-item textarea{
	border: none;
	width: 90%;
	resize: none;
}
.list-group-item textarea:focus{
	/* outline-color: #fff; */
}
.drag_handle{
	position: relative;
top: 9px;
float: left;
display: block;
width: 18px;
height: 11px;
opacity: .25;
margin-right: 20px;
	background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
